﻿@using UserApp.WebApi.Models
@model TokenModel
<div style="padding:50px;">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-4">
            <form method="post" asp-action="Login" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Username">User Name</label>
                    <input asp-for="Username" class="form-control" placeholder="User Name">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-outline-success mt-3">Login</button>
            </form>
        </div>
    </div>
</div>

