﻿@using UserApp.WebApi.Models
@model UserModel

<h1>Are you sure you want to delete user?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="Id" id="Id" />
    <div class="form-group">
        <label asp-for="Username">User Name</label>
        <input asp-for="Username" class="form-control" placeholder="User Name">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        <a type="button" class="btn btn-sm btn-secondary" style="margin:15px 0 0 10px" asp-controller="User" asp-action="Index">Back</a>
    </form>
</div>
