﻿@using UserApp.WebApi.Models
@model UserModel


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Username">User Name</label>
        <input asp-for="Username" class="form-control" placeholder="User Nme">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3" style="margin-right:1rem">Submit</button>
    <a type="button" class="btn btn-sm btn-secondary" style="margin-top:1rem" asp-controller="User" asp-action="Index" >Back</a>
</form>
