﻿@using UserApp.WebApi.Models
@model List<UserModel>


<div class="container mt-3">
    <h2>USERS</h2>
    @if (Model.Count == 0)
    {
        <h3 style="display:flex; justify-content:center" class="text-secondary">Users list are Empty</h3>
    }
    else
    {
        <table class="table" style="max-width : 80%">
            <thead class="text-secondary">
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>
                            <a type="button" class="btn btn-sm btn-success" asp-controller="UserProfile" asp-action="Index" asp-route-id="@item.Id">View</a>
                            <a type="button" class="btn btn-sm btn-warning" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a type="button" class="btn btn-sm btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
