﻿@using UserApp.WebApi.Models
@model UserProfileModel

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" value="Id" id="Id" />
    <div class="form-group">
        <label asp-for="Firstname">Firstname</label>
        <input asp-for="Firstname" class="form-control" placeholder="Firstname">
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname">Lastname</label>
        <input asp-for="Lastname" class="form-control" placeholder="Lastname">
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonalNumber">PersonalNumber</label>
        <input asp-for="PersonalNumber" class="form-control" placeholder="PersonalNumber">
        <span asp-validation-for="PersonalNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <a type="button" class="btn btn-sm btn-secondary" style="margin:15px 0 0 10px" asp-controller="UserProfile" asp-action="Index">Back</a>
</form>
