﻿@using UserApp.WebApi.Models
@model UserProfileModel

<h1>Are you sure you want to delete user?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="Id" id="Id" />
    <div class="form-group">
        <label asp-for="Firstname">User Name</label>
        <input asp-for="Firstname" class="form-control" placeholder="Firstname">
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname">Email</label>
        <input asp-for="Lastname" class="form-control" placeholder="Lastname">
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonalNumber">Email</label>
        <input asp-for="PersonalNumber" class="form-control" placeholder="PersonalNumber">
        <span asp-validation-for="PersonalNumber" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        <a type="button" class="btn btn-sm btn-secondary" style="margin:15px 0 0 10px" asp-controller="UserProfile" asp-action="Index" asp-route-id="@Model.UserId">Back</a>
    </form>
</div>
