﻿@using UserApp.WebApi.Models
@model UserProfileModel


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Firstname">Firstname</label>
        <input asp-for="Firstname" class="form-control" placeholder="Firstname">
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname">Lastname</label>
        <input asp-for="Lastname" class="form-control" placeholder="Lastname">
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonalNumber">PersonalNumber</label>
        <input asp-for="PersonalNumber" class="form-control" placeholder="PersonalNumber">
        <span asp-validation-for="PersonalNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3" style="margin-right:1rem">Submit</button>
    <a type="button" class="btn btn-sm btn-secondary" style="margin-top:1rem" asp-controller="UserProfile" asp-action="Index" asp-route-id="@Model.UserId">Back</a>
</form>
