﻿@using UserApp.WebApi.Models
@model UserProfileModel

@if (Model.Firstname is null)
{
    <p>
        <a type="button" class="btn btn-sm btn-success" asp-controller="UserProfile" asp-action="Create" asp-route-id="@Model.UserId">Create Profile</a>
        <a type="button" class="btn btn-sm btn-secondary" asp-controller="User" asp-action="Index">Back</a>
    </p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="mb-6 box-shadow">
                <div class="card-body">
                    <p class="text-secondary">First Name</p>
                    <h5 class="card-text mb-3 border-bottom">@Model.Firstname</h5>
                    <p class="text-secondary">Last Name</p>
                    <h5 class="card-text mb-3 border-bottom">@Model.Lastname</h5>
                    <p class="text-secondary">Personal number</p>
                    <h5 class="card-text mb-3 border-bottom">@Model.PersonalNumber</h5>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-warning" style="margin-right:10px" asp-controller="UserProfile" asp-action="Edit" asp-route-id="@Model.UserId">Edit Profile</a>
                            <a type="button" class="btn btn-sm btn-danger" style="margin-right:10px" asp-controller="UserProfile" asp-action="Delete" asp-route-id="@Model.UserId">Delete Profile</a>
                            <a type="button" class="btn btn-sm btn-secondary" asp-controller="User" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





